<!DOCTYPE html>
<html>
<head>
<title>Jinja-JS Demo</title>
<link rel="stylesheet" href="vendor/codemirror/lib/codemirror.css"/>
<link rel="stylesheet" href="style.css"/>
<!--[if lt IE 9]><script src="vendor/es5-shim.min.js"></script><![endif]-->
<script src="vendor/jquery-1.9.1.min.js"></script>
<script src="vendor/beautify.js"></script>
<script src="vendor/codemirror/lib/codemirror.js"></script>
<script src="vendor/codemirror/mode/jinja2/jinja2.js"></script>
<script src="vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="../lib/jinja.js"></script>
<script src="demo.js"></script>
<script id="example-src" type="text/x-tmpl-jinja">
{% for message in messages %}{% if message['from'] == 'human' %}{{'<|im_start|>user ' + message['value'] + '<|im_end|> '}}{% elif message['from'] == 'gpt' %}{{'<|im_start|>assistant ' + message['value'] + '<|im_end|> ' }}{% else %}{{ '<|im_start|>system ' + message['value'] + '<|im_end|> ' }}{% endif %}{% endfor %}{% if add_generation_prompt %}{{ '<|im_start|>assistant ' }}{% endif %}
</script>
</head>
<body>
<h1>Jinja-JS Demo</h1>
<p>Template markup (HTML/Jinja) on the left will be compiled to JavaScript and shown on the right. <a href="https://github.com/mgroeber9110/jinja-js">View project</a> on GitHub.</p>
<p>This fork contains some experimental changes from <a href="https://github.com/sstur/jinja-js">sstur/jinja-js</a>
  to simplify testing of <a href="https://huggingface.co/docs/transformers/en/chat_templating">chat templates</a> for LLMs.</p>
<p>Alternatively, there is the <a href="https://www.npmjs.com/package/@huggingface/jinja">@huggingface/jinja</a> implementation of Jinja2 with a similar goal.</p>
<div class="input"><textarea id="jinja"></textarea><p id="error"></p></div>
<div class="output"><textarea id="output"></textarea><p><input type="checkbox" id="include-runtime"/> Include Runtime</p></div>
</body>
</html>
